body{
	background-image: url("q.gif");
	background-position: center;
	background-size: 70%;
	display: flex;
	justify-content: left;
	align-items: left;
	height: 100vh;
}
.container{
	height: 350px;
	width: 280px;
	background-color:grey;
	border: solid #ff6f6f 2px;
	border-radius: 10px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
#anakayam{
	height: 28-px; width: 400px;
	margin-top: 50px;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
p{
	font-size: 20px;
	font-weight: bold;
	font-family: comic sans ms;
}
input{
	height: 30px;width: 250px;
	text-align: center;
	padding-left: 15px;
	font-size: 14px;
	border: 2px solid #FFB6C1;
	margin-left: auto;
    margin-right: auto;
}
p{
	font-size: 20px;
	font-weight: bold;
	font-family: comic sans ms;
}
input{
	height: 30px; width: 250px;
	text-align: center;
	padding-left: 15px;
	font-size: 14px;
	border: 2px solid #FFB6C1;
	border-radius: 3%;
	background-color: #FAFAD2;
}
button{
	height: 38px; width: 140px;
	background-color: #FFBC61;
	border-radius: 12px;
	font-size: 15px; color: #222222;
	font-weight: bold;
	margin-top: 30px;
	border: 2px solid #FAFAD2; 
}